version: 2

# Java image for java project
java_env: &java_env
  docker:
    - image: circleci/openjdk:8-jdk

# Python image to run aws utilities
python_env: &python_env
  docker:
    - image: cimg/python:3.11.0-browsers

# Instructions of installing aws utilities
install_awscli: &install_awscli
  name: "Install awscli"
  command: |
    sudo pip install awscli awsebcli --upgrade
    aws --version
    eb --version

install_dependency: &install_dependency
  name: Installation of build and deployment dependencies.
  command: |
    sudo apt update
    sudo apt install jq
    sudo apt install python3-pip
    sudo pip3 install awscli --upgrade
    sudo pip3 install docker-compose
install_deploysuite: &install_deploysuite
  name: Installation of install_deploysuite.
  command: |
    git clone --branch v1.4.15 https://github.com/topcoder-platform/tc-deploy-scripts ../buildscript
    cp ./../buildscript/master_deploy.sh .
    cp ./../buildscript/buildenv.sh .
    cp ./../buildscript/awsconfiguration.sh .  

# Instructions of deployment
deploy_steps: &deploy_steps
  - checkout
  - attach_workspace:
      at: .
  - run: *install_dependency
  - run: *install_deploysuite
  - setup_remote_docker
  - run: docker build -t ${APPNAME}:latest .
#  - run: .deploy/ebs_deploy.sh tc-billing-account-service $DEPLOY_ENV $CIRCLE_BUILD_NUM
  - deploy:
      name: Running MasterScript.
      command: |
        ./awsconfiguration.sh $DEPLOY_ENV
        source awsenvconf
        ./buildenv.sh -e $DEPLOY_ENV -b ${LOGICAL_ENV}-${APPNAME}-deployvar
        source buildenvvar
        ./master_deploy.sh -d ECS -e $DEPLOY_ENV -t latest -s ${LOGICAL_ENV}-global-appvar,${LOGICAL_ENV}-${APPNAME}-appvar -i ${APPNAME}

jobs:
  build:
    <<: *java_env
    environment:
      BUILD_MAVEN_ENV: "DEV"    
    steps:
      - checkout
      - run:
         name: Installing AWS cli
         command: |
           sudo apt update
           sudo apt install awscli
      - run: *install_deploysuite                    
      - run: sudo sed -i '/<mirror>/,/<\/mirror>/d' /opt/apache-maven/conf/settings.xml
      - run: 
         name: Compiling code
         command: |
           ./awsconfiguration.sh $BUILD_MAVEN_ENV  
           source awsenvconf
           cd service && mvn clean package integration-test
           rm -rf awsenvconf
      - persist_to_workspace:
          root: .
          paths:
            - ./service/target

  deploy_prod:
    <<: *python_env
    environment:
      DEPLOY_ENV: "PROD"
      LOGICAL_ENV: "prod"    
      APPNAME: "tc-billing-account"       
    steps: *deploy_steps

  deploy_dev:
    <<: *python_env
    environment:
      DEPLOY_ENV: "DEV"
      LOGICAL_ENV: "dev"    
      APPNAME: "tc-billing-account"       
    steps: *deploy_steps
      

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          context : org-global
      - deploy_dev:
          context : org-global
          filters:
            branches:
              only: 
                - dev
                - dev-circleci2
                - dev-ecs
          requires:
            - build
      - deploy_prod:
          context : org-global
          filters:
            branches:
              only: 
                - master
                - master-ecs
          requires:
            - build
